@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #b0e7ea;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  text-align: center;
  font-family: "MuseoModerno", cursive;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image__wrapper {
  max-width: 70%;
  margin: 10px auto;
}

.image__wrapper img {
  width: 100%;
  margin-top: 5px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .title {
    font-size: 18px;
  }
  .image__wrapper {
    max-width: 100%;
    margin: 10px;
  }
}
